/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* Font style */

body {
  font-family: 'Kaushan Script', cursive;
}
.about {
	text-align: justify;
}

/* Pozitioning */

.profile-card {
  width: 480px;
  max-width: calc(100vw - 20px);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}

.main-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transition: 2s;
}


/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.fa-linkedin-square {
	color: #FFFFFF;
	transition: 1s;
}
.fa-facebook-official {
	color: #FFFFFF;
	transition: 1s;
}
.fa-github {
	color: #FFFFFF;
	transition: 1s;
}


.fa-linkedin-square:hover {
	color: #2962ff;
}
.fa-facebook-official:hover {
	color: #2962ff;
}
.fa-github:hover {
	color: #000000;
}

/* Background and style colors */

body {
  background: url("assets/Background_flip.jpg") no-repeat;
  background-size: cover;
}
.profile-card {
  background-color: #94949490;
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
.main-image:hover {
  transform: scale(1.3);
}


/* Text and link adjustments */

.head, .about {
  margin-bottom: 5%;
}

.content {
  padding: 5% 5%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}
h1 {
  font-size: 1.7em;
  font-weight: 900
}
h2 {
	font-size: 1.3em;
}
.about {
  font-size: 1.3em;
}
#contact {
  font-size: 1.5em;
}
